<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>930248550113-h8c32um6erejqklrsk2rq8s5i0jm1jmo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.930248550113-h8c32um6erejqklrsk2rq8s5i0jm1jmo</string>
	<key>API_KEY</key>
	<string>AIzaSyAMPGZcYtCQQcW0w6VU9NudW5gROQAP9QM</string>
	<key>GCM_SENDER_ID</key>
	<string>930248550113</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mn.zolboo.bookapp</string>
	<key>PROJECT_ID</key>
	<string>book-note-app</string>
	<key>STORAGE_BUCKET</key>
	<string>book-note-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:930248550113:ios:2c981fb8e5aecc2a3cf9a0</string>
</dict>
</plist>